@font-face {
  font-family: "PT Root UI Light";
  src: url("/public/pt-root-ui-light.woff");
}
body {
  background-color: #021136;
  color: white;
  font-family: PT Root UI Light;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.cards {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 60px;
}

.card {
  box-shadow: 8px 8px #03143E;
  text-align: center;
  background-color: #031950;
  border-radius: 40px;
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.content {
  padding: 15px;
}

.card img {
  float: left;
  height: 100px;
  border-radius: 5px;
}

input {
  background-color: #03143E;
  border-style: solid;
  border-color: transparent;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
  font-size: 15px;
}

button {
  background-color: #03143E;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  border: transparent;
}

.logo {
  overflow: auto;
}

.logo img {
  float: left;
  height: 60px;
}

.logo span {
 float: left;
   margin-top: 10px;
  font-size: 30px;
}

nav .logo {
  float: left;
}

nav {
  display: block;
  width: 100%;
  background-color: #031950;
  overflow: hidden;
  border-bottom: solid 2px white;
}

nav .user {
  float: right;
  margin-right: 20px;
  margin-top: 25px;
  font-size: 20px;
}

.subnav {
  width: 100%;
  background: linear-gradient(90deg, rgba(3,25,80,1) 0%, rgba(2,17,54,1) 100%);
}

.subnav li {
  display: inline;
}

.subnav a {
  text-decoration: none;
  color: white;
  padding-right: 15px;
}

.subnav ul {
  padding: 0;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.sub-enabled {
  text-decoration: underline !important;
}
