<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Axel - Dashboard</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/public/Axel.png">
    <meta name="apple-mobile-web-app-title" content="Axel">
    <link rel="apple-touch-icon" href="/public/Axel.png">
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <div style="padding-top: 10px; padding-bottom: 10px;" class="logo">
        <img src="/public/Axel.svg" alt="Axel">
        <span>Axel</span>
      </div>
      <div class="user">
        <a href="/logout">Logout</a>
      </div>
    </nav>
    <div class="subnav">
      <ul>
        <li><a href="/dashboard" class="sub-enabled">Overview</a></li>
        <li><a href="/applications">Applications</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div>
