<% include ./blocks/header %>
<p style="text-align: center; font-size: 30px;">Applications</p>
<div class="cards">
  <div class="card">
    <div class="content">
      <form action="/applications" method="post">
        <p style="font-size: 20px;">Create App!</p>
        <br>
        <input type="text" name="name" value="" placeholder="name">
        <br>
        <button type="submit">Create!</button>
      </form>
    </div>
  </div>
  <%
    services.forEach(function(s){
    %>
  <div class="card">
    <div class="content">
      <h3><%= s.Spec.Name %></h3>
      <a class="button" style="padding-top:5px; padding-bottom:5px;" href="/applications/<%= s.Spec.Name %>"></a>
    </div>
  </div>
  <% }) %>
</div>
<% include ./blocks/footer %>
