<% include ./blocks/header %>
<p style="text-align: center; font-size: 30px;">Applications</p>
<button id="createAppBtn">Create Application</button>

<div id="createApp" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

<div class="cards">
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Operating System</p>
      <p><%= os.platform(); %></p>
    </div>
  </div>
</div>
<% include ./blocks/footer %>
