<% include ./blocks/header %>
<p style="text-align: center; font-size: 30px;">Overview</p>
<div class="cards">
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Cpu Usage</p>
      <p>10%</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Ram Usage</p>
      <p>1000MB of 4000MB</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Disc Usage</p>
      <p>10GB of 20GB</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >System Uptime</p>
      <p>10:00:10</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Applications</p>
      <p>4</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Users</p>
      <p>2</p>
    </div>
  </div>
</div>
<% include ./blocks/footer %>
