<% include ./blocks/header %>

<p style="text-align: center; font-size: 30px;">Overview</p>
<div class="cards">
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Operating System</p>
      <p>Ubuntu</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Ram Usage</p>
      <p>10 mb of 1000 gb</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >System Uptime</p>
      <p>1 min 2 sec</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Applications</p>
      <p>4</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Users</p>
      <p>2</p>
    </div>
  </div>
</div>

<% include ./blocks/footer %>
