<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Axel</title>
    <link rel="icon" href="/public/Axel.svg">
    <link rel="apple-touch-icon" href="/public/Axel.svg">
    <style media="screen">
      @font-face {
        font-family: "PT Root UI Light";
        src: url("/public/pt-root-ui-light.woff");
      }
      body {
        background-color: #021136;
        color: white;
        font-family: PT Root UI Light;
      }
      p {
        margin: 0;
        padding: 0;
      }
      img {
        margin: 0;
        padding: 0;
      }
      .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

    </style>
  </head>
  <body>
    <div class="center">
      <img src="/public/Axel.svg" height="200px" alt="Axel">
      <p style="font-size: 20px;">This website is powered by</p>
      <p style="font-size: 30px;">Axel</p>
    </div>
  </body>
</html>
