<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Axel</title>
    <style media="screen">
      @font-face {
        font-family: "PT Root UI Light";
        src: url("/public/pt-root-ui-light.woff");
      }
      body {
        background-color: #021136;
        color: white;
        font-family: PT Root UI Light;
      }
      p {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <p style="font-size: 20px;">This website is powered by</p>
    <p style="font-size: 30px;">Axel</p>
  </body>
</html>
