<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Axel Login</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" href="/public/Axel.png">
  <meta name="apple-mobile-web-app-title" content="Axel">
  <link rel="apple-touch-icon" href="/public/Axel.png">
  <link rel="stylesheet" type="text/css" href="/public/styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div style="margin-top: 90px;" class="cards">
    <div class="card">
      <div class="content">
        <form action="/login" method="post">
          <div style="margin-left: 60px;" class="logo">
            <img src="/public/Axel.svg" alt="Axel">
            <span>Axel 33322</span>
          </div>
          <br>
          <%
            if(message) {
          %>
          <p><%= message %></p>
          <% } %>
          <p style="font-size: 18px;">Username</p>
          <input type="text" name="username" value="" placeholder="Username">
          <p style="font-size: 18px;">Password</p>
          <input type="password" name="password" value="" placeholder="Password">
          <br>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
