<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Axel Login</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" href="/public/Axel.png">
  <meta name="apple-mobile-web-app-title" content="Axel">
  <link rel="apple-touch-icon" href="/public/Axel.png">
  <link rel="stylesheet" type="text/css" href="/public/styles.css" />
</head>

<body>
  <div style="margin-top: 90px;" class="cards">
    <div class="card">
      <div class="content">
        <form action="/login" method="post">
          <p style="font-size: 30px;">Axel Login</p>
          <p style="font-size: 18px;">Username</p>
          <input type="text" name="Username" value="" placeholder="Username">
          <p style="font-size: 18px;">Password</p>
          <input type="password" name="Password" value="" placeholder="Password">
          <br>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
