<% include ./blocks/header %>
<p style="text-align: center; font-size: 30px;">Manage <%= dockerapp.Spec.Name %></p>
<div class="cards">
  <div class="card">
    <div class="content">
      <form action="/applications" method="post">
        <p style="font-size: 20px;">Deployment</p>
        <hr>
        <p style="font-size: 18px;">Git</p>
        <input type="text" name="giturl" value="<% if(mongoapp.deployment.giturl == 'ns'){ } else { return mongoapp.deployment.giturl } %>" placeholder="Git Url">
        <input type="text" name="gitusername" value="" placeholder="Git Username">
        <input type="text" name="gitpassword" value="" placeholder="Git Password">
      </form>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;">Environment</p>
      <p style="font-size: 18px;">Format on JSON!</p>
      <form action="/applications" method="post">
        <textarea style="height: 30px; width: 200px;" name="comment" ></textarea>>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;">Advanced</p>
      <a class="button" href="/applications/<%= dockerapp.Spec.Name %>/remove" style="padding-top:5px; padding-bottom:5px;">Delete App</a>
    </div>
  </div>
</div>

<% include ./blocks/footer %>
