<% include ./blocks/header %>
<p style="text-align: center; font-size: 30px;">Settings</p>
<div class="cards">
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Update Axel</p>
      <a class="button" href="/settings/update" >Update</a>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <p style="font-size: 20px;" >Users</p>
      <p>2</p>
    </div>
  </div>
</div>
<% include ./blocks/footer %>
